name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [ stable, nightly, 1.65.0 ]

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --all
    - name: Run tests
      run: cargo test --verbose --all-targets
    - name: Run tests with hashbrown
      run: cargo test --verbose --all-targets --features "hashbrown"
    - name: Run clippy
      run: cargo clippy --verbose --all-targets -- -D warnings
    - name: Run audit
      run: cargo audit
